# Use legacy peer deps resolution, which allows us to install packages
# even if their peer dependencies don't match the ones in our project.
# See https://docs.npmjs.com/cli/v8/configuring-npm/package-json#legacy-peer-deps
legacy-peer-deps=true

